.page-load-title {
    color: #fff;
    font-size: 5.6rem;
    font-weight: 600;
}
.swiper-wrapper {
    position: relative;
}
.fixed-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.2;
    /* z-index: -100000; */
}
.icon-security {
    color: black;
    background-color: black;
}
.slide-aboutus {
    width: 100%;
    height: 250px;
}
.section-slide-aboutus {
    width: 100%;
    height: 100vh;
}
.div-card {
    background-color: #fff0;
}
.btn-click-show {
    border-radius: 5px;
    color: #f16821;
    border: none;
}
.ouline-card {
    border: 1px solid black;
}
.section-service {

    background-color: #f6f7f8;
}
.block-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.table_report {
    width: 1000px;
    height: 300px;
    text-align: center;
}
.table_report table {
    width: 100%;
    height: 100%;
}
.table_report table tbody th {
    border: 1px solid black;
    text-align: center;
}
.table_report table tr td{
    border: 1px solid black;
}
.div-table-report {
    width: 100%;
    height: 305px;
}
.btn-lien-he{
    padding: 20px 80px;
    margin-top: 20px;
    background-color: #f16821;
    color: #fff;
}
.div-why-choose {
   background-color: #4250e7;
}
.bg-card-header {
    background-color: #fff0;
}
.card {
    border: none;
}
.card-header {
    border-bottom: none;
}
.height-fill {
    /* width: 300px; */
    height: 300px;
}
.div-first-time {
    width: 100%;
    height: 100%;
}
.div-card-service {
    /* width: 300px; */
    height: 300px;

  
}
.div-card-service a {
    width: 100%;
    height: 100%;
    color: #4250e7;
    border: 0.2px solid black;
}
.card-1 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-2 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card-3 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-4 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.btn-lien-he-first {
    padding: 10px 40px !important;
    background-color: #fff !important;
    color: #000 !important;
}
.btn-lien-he-first:hover {
    color: #fff !important;
    background-color: #000 !important;
}
.swiper-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.swiper-container::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    /* background: black; */
}
/* tuyendung */
.content-tuyendung {
    width: 100vw;
}
.content_block-tuyendung {
    padding: 0px 300px;
    margin-top: 50px;
    text-align: left;
}
.content_before-tuyendung {
    width: 100%;
}
.content_before-tuyendung h2 {
    font-size: 40px;
}
.content_before-tuyendung h3 {
    font-size: 30px;
}
.spotlight_content_price {
    background-color: rgb(243, 119, 18);
    display: inline-block;
}
.content_text {
    font-size: 20px;
}
.container-img-service {
    width: 100%;
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-title {
    margin-top: 5px !important;
}
#dichvu {
    width: 100vw !important;
}
/* reponsive tuyendung */
@media (max-width:1400px){
    .content_block-tuyendung {
        padding: 0px 100px;
    }
}
@media (max-width:600px){
    .content_block-tuyendung {
        padding: 0px 10px;
    }
}
/* reponsive tuyendung */
/* Baogia */
.container_content_report {
    width: 100vw;
    text-align: left;
}
.content_block_report {
    width: 100%;
    padding: 0px 300px;
    margin-top: 50px;
}
.content_block_report h1 {
    font-size: 50px;
}
/* reponsive bao gia */
@media (max-width: 1400px) {
    .content_block_report {
        padding: 0 100px;
    }
}
@media (max-width: 600px) {
    .content_block_report {
        padding: 0 10px;
    }
}
