.page-load-title {
    color: #fff;
    font-size: 5.6rem;
    font-weight: 600;
}
.swiper-wrapper {
    position: relative;
}
.fixed-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.4;
    /* z-index: -100000; */
}
.icon-security {
    color: black;
    background-color: black;
}
.slide-aboutus {
    width: 100%;
    height: 250px;
}
.section-slide-aboutus {
    width: 100%;
    height: 100vh;
}
.div-card {
    background-color: #fff0;
}
.btn-click-show {
    border-radius: 5px;
    color: #f16821;
}
.ouline-card {
    border: 1px solid black;
}
.section-service {

    background-color: #f6f7f8;
}
.block-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.table_report {
    width: 1000px;
    height: 300px;
    text-align: center;
}
.table_report table {
    width: 100%;
    height: 100%;
}
.table_report table tbody th {
    border: 1px solid black;
    text-align: center;
}
.table_report table tr td{
    border: 1px solid black;
}
.div-table-report {
    width: 100%;
    height: 305px;
}
.btn-lien-he{
    padding: 20px 80px;
    margin-top: 20px;
    background-color: #f16821;
    color: #fff;
}
.div-why-choose {
    background-image: linear-gradient(to right top, #4250e7, #007dfb, #00a1ff, #3bc0fc, #8ddcf8);
}
.bg-card-header {
    background-color: #fff0;
}
.card {
    border: none;
}
.card-header {
    border-bottom: none;
}